fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langgraph
huggingface-hub
pypdf
python-docx
requests
beautifulsoup4
python-multipart
langchain-qdrant
qdrant-client
ragas