fastapi
uvicorn[standard]
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface 
langchain-chroma
langgraph
chromadb
huggingface-hub
pypdf
python-docx
sentence-transformers
datasets                       
requests
beautifulsoup4
python-multipart

langchain-qdrant
qdrant-client
